name: End-to-End Tests
on: [push]
jobs:
  test:
    name: Run TestCafe Tests
    runs-on: windows-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: '10'
      - run: npm install
      - run: npm run e2e
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1.6
        if: always()
        with:
          files: reports/report.xml